section {
  padding: .25in .5in;
  -webkit-columns: 60px 2;
  -moz-columns: 60px 2;
  columns: 60px 2;
  border-bottom: 24px solid #333;
}

html {
  line-height: 1.5;
  font-family: Georgia, serif;
  color: #1a1a1a;
  background-color: #fdfdfd;
  background: #333;
}

body {
  font-size: 12px;
  background: #fff;
  margin: 0 auto;
  width: 8.5in;
  hyphens: auto;
  overflow-wrap: break-word;
  text-rendering: optimizeLegibility;-top
  font-kerning: normal;
}

p {
  margin: 1em 0;
}

a {
  color: #1a1a1a;
}

a:visited {
  color: #1a1a1a;
}

img {
  max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 1.4em;
}

h5,
h6 {
  font-size: 1em;
  font-style: italic;
}

h6 {
  font-weight: normal;
}

ol,
ul {
  padding-left: 1.7em;
  margin-top: 1em;
}

li>ol,
li>ul {
  margin-top: 0;
}

blockquote {
  margin: 1em 0 1em 1.7em;
  padding-left: 1em;
  border-left: 2px solid #e6e6e6;
  color: #606060;
}

code {
  font-family: Menlo, Monaco, 'Lucida Console', Consolas, monospace;
  font-size: 85%;
  margin: 0;
}

pre {
  margin: 1em 0;
  overflow: auto;
}

pre code {
  padding: 0;
  overflow: visible;
  overflow-wrap: normal;
}

.sourceCode {
  background-color: transparent;
  overflow: visible;
}

hr {
  background-color: #1a1a1a;
  border: none;
  height: 1px;
  margin: 1em 0;
}

table {
  margin: 1em 0;
  border-collapse: collapse;
  width: 100%;
  overflow-x: auto;
  display: block;
  font-variant-numeric: lining-nums tabular-nums;
}

table caption {
  margin-bottom: 0.75em;
}

tbody {
  margin-top: 0.5em;
  border-top: 1px solid #1a1a1a;
  border-bottom: 1px solid #1a1a1a;
}

th {
  border-top: 1px solid #1a1a1a;
  padding: 0.25em 0.5em 0.25em 0.5em;
}

td {
  padding: 0.125em 0.5em 0.25em 0.5em;
}

header {
  padding: .25in;
  text-align: center;
}

#TOC li {
  list-style: none;
}

#TOC ul {
  padding-left: 1.3em;
}

#TOC>ul {
  padding-left: 0;
}

#TOC a:not(:hover) {
  text-decoration: none;
}

code {
  white-space: pre-wrap;
}

span.smallcaps {
  font-variant: small-caps;
}

div.columns {
  display: flex;
  gap: min(4vw, 1.5em);
}

div.column {
  flex: auto;
  overflow-x: auto;
}

div.hanging-indent {
  margin-left: 1.5em;
  text-indent: -1.5em;
}

ul.task-list {
  list-style: none;
}

ul.task-list li input[type="checkbox"] {
  width: 0.8em;
  margin: 0 0.8em 0.2em -1.6em;
  vertical-align: middle;
}