/* <link rel="stylesheet" href="style.css"> */

@media print {
    a {
        text-decoration: none;
    }
}

html {
    background: #222;
}

body {
    background: #fff;
    max-width: 7.5in;
    padding: .5in;
    font-size: 14px;
}

header {
    font-weight: 600;
}

h1 {
    page-break-before: always;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #824;
}

h2 {
    border-bottom: 3px solid #b96;
}